body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f7f9fb;
}

nav {
  background-color: #28a745;
  padding: 1rem;
}

nav a {
  color: white;
  margin-right: 1rem;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}
